<div class="jumbotron">
        <h1 class="text-center">Välkommen till UMIRIN'BRAH.</h1>
        <h2 class="text-center">Din trogna träningslogg på nätet.</h2>

        <div class="card-deck mb-3 text-center">
            
                <div class="card mb-4 shadow-lg">
                        <div class="card-header">
                          <h4 class="my-0 font-weight-normal">Bänkpress</h4>
                        </div>
                        <div class="card-body">
                        <img src="assets/img/bp.png">
                        </div>
                      </div>
                      <div class="card mb-4 shadow-lg">
                            <div class="card-header">
                              <h4 class="my-0 font-weight-normal">Marklyft</h4>
                            </div>
                            <div class="card-body">
                                    <img src="assets/img/dl.png">
                            </div>
                          </div>
                          <div class="card mb-4 shadow-lg">
                                <div class="card-header">
                                  <h4 class="my-0 font-weight-normal">Knäböj</h4>
                                </div>
                                <div class="card-body">
                                        <img src="assets/img/s.png">
                                </div>
                              </div>
        </div>
</div>